body {
	text-align: center;
	background-color: #F1FFFA;
	font-family: 'Playfair Display', 'Arial', serif;
	margin:  2rem;
}

h1 {
	font-weight: 600;
}



h1,h3,h4 {
	margin:  1rem;
	color:  #454545;
}

p {
	font-style: italic;
}

button {
	margin-top: 1rem;
	background-color: #785964;
	border:  none;
	color: white;
	border-radius: .5rem;
	padding: 1rem 2rem;
}

button:hover {
background-color: #563742;
}
